In [1]:
import pandas as pd
import numpy as np

df_jan = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
df_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [2]:
df_jan.shape
df_feb.shape

(2913955, 19)

In [15]:
df_jan.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee', 'duration'],
      dtype='object')

In [10]:
len(df_jan.columns)

20

In [4]:
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [5]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [6]:
df_feb.shape, df_feb.info(), df_feb.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913955 entries, 0 to 2913954
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int32(3), int64(1), object(1)
memory usage: 389.1+ MB

((2913955, 19),
 None,
    VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
 0         1  2023-02-01 00:32:53   2023-02-01 00:34:34              2.0
 1         2  2023-02-01 00:35:16   2023-02-01 00:35:30              1.0
 2         2  2023-02-01 00:35:16   2023-02-01 00:35:30              1.0
 3         1  2023-02-01 00:29:33   2023-02-01 01:01:38              0.0
 4         2  2023-02-01 00:12:28   2023-02-01 00:25:46              1.0

    trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
 0           0.30         1.0                  N           142           163
 1           0.00         1.0                  N            71            71
 2           0.00         1.0                  N            71            71
 3          18.80         1.0                  N           132            26
 4           3.22         1.0                  N           161           145

    payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
 0             2          4.4   3.50      0.5         0.0           0.0
 1             4         -3.0  -1.00     -0.5         0.0           0.0
 2             4          3.0   1.00      0.5         0.0           0.0
 3             1         70.9   2.25      0.5         0.0           0.0
 4             1         17.0   1.00      0.5         3.3           0.0

    improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
 0                    1.0          9.40                   2.5         0.00
 1                   -1.0         -5.50                   0.0         0.00
 2                    1.0          5.50                   0.0         0.00
 3                    1.0         74.65                   0.0         1.25
 4                    1.0         25.30                   2.5         0.00  )

In [7]:
# calculate the duration from df_jan
df_jan['duration'] = (df_jan['tpep_dropoff_datetime'] - df_jan['tpep_pickup_datetime']).dt.total_seconds() / 60

# calculate the duration from df_feb
df_feb['duration'] = (df_feb['tpep_dropoff_datetime'] - df_feb['tpep_pickup_datetime']).dt.total_seconds() / 60

In [8]:
df_jan['duration'].std()

42.594351241920904

In [29]:
df_jan['duration'] = df_jan['duration'][(df_jan['duration'] >= 1) & (df_jan['duration'] <=60)]

In [28]:
df_feb['duration'] = df_feb['duration'][(df_feb['duration'] >= 1) & (df_feb['duration'] <=60)]

(2855951,)

In [34]:
(df_jan['duration'] / df_jan.shape[0]).mean()

4.6318708840965375e-06

In [18]:
df_jan['PULocationID'] = df_jan['PULocationID'].astype(str)
df_jan['DOLocationID'] = df_jan['DOLocationID'].astype(str)

pickup_dropoff_dicts = df_jan[['PULocationID', 'DOLocationID']].to_dict(orient='records')

In [19]:
from sklearn.feature_extraction import DictVectorizer

vectorizer = DictVectorizer() # sparse=False for a dense array
feature_matrix = vectorizer.fit_transform(pickup_dropoff_dicts)

In [20]:
feature_matrix.shape

(3066766, 518)

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [23]:
X = feature_matrix  # Feature matrix from previous step
y = df_jan['duration']  # Response variable (duration)

In [24]:
model = LinearRegression()  # Create a Linear Regression model with default parameters
model.fit(X, y)  # Train the model on the feature matrix and response variable

LinearRegression()

In [25]:
y_pred = model.predict(X)  # Predict durations on the training data
rmse = np.sqrt(mean_squared_error(y, y_pred))  # Calculate RMSE
print("RMSE on training data:", rmse)

RMSE on training data: 41.99649230697585

In [ ]:
df_feb['PULocationID'] = df_feb['PULocationID'].astype(str)
df_feb['DOLocationID'] = df_feb['DOLocationID'].astype(str)
validation_dicts = df_feb[['PULocationID', 'DOLocationID']].to_dict(orient='records')

# Transform using the same vectorizer fitted on df_jan
X_validation = vectorizer.transform(validation_dicts)

In [ ]:
y_pred_validation = model.predict(X_validation)

In [ ]:
y_validation = df_feb['duration']
rmse_validation = np.sqrt(mean_squared_error(y_validation, y_pred_validation))
print("RMSE on validation data:", rmse_validation)